{% extends 'base.html' %}

{% block title %} Contact us {% endblock title %}

{% block content %}

<p> </p>

<p> </p>

<p> </p>

<!--Contact form-->
{% load static %} 
<div class="container" style="background-image: url('{% static 'images/flower7.jpg' %}');" > 

    <div class="row align-items-center">
        <div class="col-md-6 offset-md-3">
            <p></p>
            <p></p>
            <div class="card" style="opacity: 1;">
                
                <div class="card-body">
                    <p></p>
                    </p><h3> Contact me </h3></p>

                    {% if messages %}
                        <ul class="messages">
                          {% for message in messages %}
                              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                          {% endfor %}
                        </ul>
                      {% endif %}

                      <form method="post" action="">
                      {% csrf_token %}

                          <div class="mb-3">
                              <label class="form-label"> Name </label>
                              {{ form.contactname }}
                            </div>

                          <div class="mb-3">
                            <label class="form-label"> Email address </label>
                            {{ form.contactemail }}
                          </div>

                          <div class="mb-3">
                            <label class="form-label"> Subject </label>
                            {{ form.contactsubject }}
                          </div>

                          <div class="mb-3">
                              <label for="id_contactmessage" class="form-label"> Message</label>
                              {{ form.contactmessage }}
                            </div>

                          <input type="submit" class="btn btn-primary" value="Submit">
                          

                        {% if form.errors or form.non_field_errors %}
                            <div class = "mb-3">

                              {% for field in form %}
                                <p class = 'fw-light text-danger'> {{ form.errors }} </p>
                              {% endfor %}

                              {{ form.non_field_errors }}
        
                            </div>

                        {% endif %}
                          
                      </form>

                </div>
            </div>
            <p></p>
            <p></p>
        </div>
    </div>
    
</div>

{% endblock content %}